@charset "UTF-8";

@import "flavours/go/styles/variables";

.MASTODON_GO--COMMON--BUTTON {
  display: inline-block;
  box-sizing: content-box;
  margin: 0;
  border: none;
  padding: 0;
  color: $mastodon_go_content_button_color;
  background-color: transparent;
  outline: 1px transparent dotted;
  outline-offset: -1px;
  font: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;

  &:hover { color: $mastodon_go_content_button_hover }

  &:focus { outline-color: currentColor }

  &:active,
  &.active { color: $mastodon_go_content_button_active }

  //  For links, we consider them disabled if they don't have an `href`
  //  attribute (see JS).
  &.disabled {
    color: $mastodon_go_content_disabled;
    cursor: default;
  }
}
