@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--COMMON--BUTTON {
  display: inline-block;
  border: none;
  padding: 0;
  color: $mastodon_go_content_button_color;
  background-color: transparent;
  outline: 1px transparent dotted;
  outline-offset: -1px;
  font-size: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: color ($mastodon_go_animation_speed * .15s) ease-in, outline-color ($mastodon_go_animation_speed * .3s) ease-in-out;

  &.animated > *.icon {
    animation-name: mastodon_go--common--button--deactivate;
    animation-duration: .9s;
    animation-timing-function: ease-in-out;

    @keyframes mastodon_go--common--button--deactivate {
      from {
        transform: rotate(360deg);
      }
      57% {
        transform: rotate(-60deg);
      }
      86% {
        transform: rotate(30deg);
      }
      to {
        transform: rotate(0deg);
      }
    }
  }

  &.active {
    color: $mastodon_go_content_button_active;

    &.animated > *.icon {
      animation-name: mastodon_go--common--button--activate;

      @keyframes mastodon_go--common--button--activate {
        from {
          transform: rotate(0deg);
        }
        57% {
          transform: rotate(420deg);  //  Blazin' 😎
        }
        86% {
          transform: rotate(330deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }
  }

  //  For links, we consider them disabled if they don't have an `href`
  //  attribute (see JS).
  &.disabled {
    opacity: $mastodon_go_content_disabled;
    cursor: default;
  }


  //  This is confusing becuase of the names, but the `color .3 ease-out`
  //  transition is actually used when easing *in* to a hovering/active/
  //  focusing state, and the default transition is used when leaving. Our
  //  buttons are a little slower to glow than they are to fade.
  &:focus,
  &:hover {
    color: $mastodon_go_content_button_hover;
    transition: color ($mastodon_go_animation_speed * .3s) ease-out, outline-color ($mastodon_go_animation_speed * .15s) ease-in-out;
  }

  &:active {
    color: $mastodon_go_content_button_active;
    transition: color ($mastodon_go_animation_speed * .3s) ease-out, outline-color ($mastodon_go_animation_speed * .15s) ease-in-out;
  }

  &:focus {
    outline-color: currentColor;
  }

  //  Buttons with text have a number of different styling rules and an
  //  overall different appearance.
  &.with_text {
    display: inline-block;
    border: none;
    padding: 0 .5em;
    font-size: .75em;
    font-weight: inherit;
    line-height: 1.6;
    cursor: pointer;
    vertical-align: baseline;
    transition: background-color ($mastodon_go_animation_speed * .15s) ease-in, outline-color ($mastodon_go_animation_speed * .3s) ease-in-out;

    & > *.icon {
      display: inline-block;
      font-size: 1.25em;
      vertical-align: -.1em;
    }

    & > *:not(:first-child) {
      margin: 0 0 0 1ex;
    }
  }
}
