@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--DRAWER--COMPOSER--TEXT_AREA {
  display: block;
  position: relative;
  margin: 0;
  border-style: none solid;
  border-color: $mastodon_go_text_area_border;
  border-width: 0 3px;
  padding: .625em .75em;
  color: $mastodon_go_text_area_color;
  background: $mastodon_go_text_area_background;
  min-height: 6.25em;

  &:focus {
    outline: none;
    border-color: $mastodon_go_text_area_active_border;
  }
}
