@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--COMPOSER--TEXT_AREA {
  display: block;
  position: relative;
  margin: 0;
  border-style: none solid;
  border-color: transparent $mastodon_go_text_area_border;
  border-width: 0 3px;
  padding: .625em .75em;
  color: $mastodon_go_text_area_color;
  background: $mastodon_go_text_area_background;
  min-height: 6.25em;

  &::before {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    padding: .625em .75em;
    height: 1.25em;
    color: $mastodon_go_text_area_placeholder;
    opacity: 0;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    content: attr(aria-label);
    transition: opacity (.3s * $mastodon_go_animation_speed) ease-in-out;
  }

  & > img {
    display: inline-block;
    height: 1.15em;
    vertical-align: -.1em;
  }

  &:focus {
    outline: none;
    border-color: transparent $mastodon_go_text_area_active_border;
  }

  &.empty:not(:focus) {
    &::before {
      opacity: 1;
    }
  }
}
