@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--COMPOSER--TEXT_AREA {
  display: block;
  position: relative;
  margin: 0;
  border-style: none solid;
  border-color: transparent $mastodon_go_text_area_border;
  border-width: 0 3px;
  padding: .625em .75em;
  color: $mastodon_go_text_area_color;
  background: $mastodon_go_text_area_background;
  min-height: 6.25em;

  & > img {
    display: inline-block;
    height: 1.15em;
    vertical-align: -.1em;
  }

  &:focus {
    outline: none;
    border-color: transparent $mastodon_go_text_area_active_border;
  }
}
