@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--STATUS {
  display: block;
  margin: 0;
  border: none;
  padding: 0 .75em .625em;
  cursor: default;

  & > .MASTODON_GO--CONNECTED--ACCOUNT {
    margin: 0 -.75em;
  }

  & + .MASTODON_GO--CONNECTED--STATUS {
    border-top: 1px $mastodon_go_content_border solid;
  }
}
