.glitch.composer__options__advanced__toggle {
  position: relative;
  border-radius: 4px 4px 0 0;
  padding: 10px 10px 10px 70px;
  color: darken($ui-primary-color, 24%);
  background: $simple-background-color;
  box-shadow: 0 -4px 4px rgba($base-shadow-color, 0.1);
  cursor: pointer;

  &:hover, &.active {
    background: $ui-highlight-color;
    color: $primary-text-color;

    strong {
      color: $primary-text-color;
    }
  }

  &.active:hover {
    background: lighten($ui-highlight-color, 4%);
  }

  .react-toggle {
    display: block;
    position: absolute;
    left: 10px;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 50px;
    height: 24px;
  }

  strong {
    display: block;
    color: $ui-base-color;
    font-weight: 500;
  }
}
