@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--ACCOUNT {
  display: block;
  margin: 0;
  border: none;
  padding: .625rem .75rem;
  height: 3.15rem;

  & > .MASTODON_GO--AVATAR {
    float: left;
    margin-right: .75rem;
    width: 3.15rem;
    height: 3.15rem;
  }

  & > *.info {
    display: block;
    margin: 0;
    border: none;
    overflow: hidden;

    & > b, & > code {
      display: block;
      border: none;
      padding: 0;
      height: 1.575rem;
      overflow: hidden;
      font-size: 1.05rem;
      font-family: inherit;
      font-weight: inherit;
      line-height: 1.575rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &.small {
    margin: 0;
    border: none;
    padding: .625em .75em;
    height: 3em;

    & > .MASTODON_GO--AVATAR {
      margin-right: .6em;
      height: 3em;
      width: 3em;
    }

    & > *.info {
      padding: .625em 0 0;

      & > b {
        height: 1.25em;
        font-size: 1em;
        line-height: 1.25;
      }
      & > code {
        height: 1.171875em;
        font-size: .96em;  //  This changes the `em` value used for `height`
        line-height: 1.171875;
      }
    }
  }
}
