@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--UI--COLUMN {
  display: block;
  position: relative;
  margin: 0 auto;
  border: none;
  width: 23rem;
  height: 100%;
  color: $mastodon_go_column_color;
  background-color: $mastodon_go_column_background;
}
