@charset "UTF-8";

@import "flavours/go/styles/variables";

.MASTODON_GO--CONNECTED--CARD {
  display: block;
  margin: 0;
  border: thin $mastodon_go_content_border solid;
  border-radius: .35em;
  padding: 0;
  overflow: hidden;

  & > *.image {
    display: block;
    position: relative;
    margin: 0;
    border: none;
    padding: 0;
    width: 100%;
    height: 6.75em;
    background-color: $mastodon_go_media_background;

    & > .MASTODON_GO--COMMON--IMAGE {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border: none;
      padding: 0;
      width: auto;
      max-width: 100%;
      height: 100%;
    }
  }

  & > .description {
    & > .thumbnail {
      display: block;
      float: left;
      width: auto;
      max-width: 6.75em;
      height: auto;
      max-height: 100%;
      background-color: $mastodon_go_media_background;
    }

    & > h1 {
      margin-bottom: .675em;
      font-size: 1.5em;
      line-height: 1.125;
    }
  }

  & > figcaption {
    font-size: .925em;
  }
}
