@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--COMPOSER--INPUT--MENU {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 2.5rem;
  color: $mastodon_go_menu_color;
  background-color: $mastodon_go_menu_background;
  overflow-x: auto;
  overflow-y: hidden;

  & > .MASTODON_GO--COMMON--BUTTON {
    display: inline-block;
    margin: 0;
    border: none;
    padding: .75rem .6rem;
    width: 1.6em;
    height: 1em;
    color: $mastodon_go_menu_color;
    background-color: $mastodon_go_menu_background;
    font-size: 1em;
    line-height: 1;
    text-align: center;

    &:focus,
    &:hover {
      color: $mastodon_go_menu_hover_color;
      background-color: $mastodon_go_menu_hover_background;
    }

    &.active {
      color: $mastodon_go_menu_active_color;
      background-color: $mastodon_go_menu_active_background;
    }
  }
}
