@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--START {
  & > nav {
    display: block;
    margin: 0;
    border: none;
    padding: 0 0 0 2rem;

    & > h2 {
      display: block;
      margin: .9375rem 0 0 -1rem;
      border-style: none none solid;
      border-color: transparent transparent currentColor;
      border-width: 0 0 thin;
      padding: 0;
      font: inherit;
      text-transform: uppercase;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }

    & > .MASTODON_GO--COMMON--BUTTON {
      display: block;
      margin: .625rem 0;
      border: none;
      padding: .625rem .5rem;
      font-size: 1.25rem;
      line-height: 1;
    }
  }
}
