@charset "UTF-8";

@import "flavours/go/styles/variables";

.MASTODON_GO--COMMON--BLOCK_BUTTON {
  position: relative;
  padding: 3.9375em .75em .625em;
  width: 4.5em;
  height: 1.25em;
  font-size: inherit;
  line-height: 1.25;
  white-space: nowrap;
  text-align: center;
  text-transform: uppercase;
  text-overflow: ellipsis;
  overflow: hidden;

  & > .MASTODON_GO--COMMON--ICON {
    display: block;
    position: absolute;
    box-sizing: border-box;
    top: .625em;
    left: 0;
    right: 0;
    margin: auto;
    border: none;
    padding: 0;
    width: 4em;
    height: 3em;
    font-size: 3em;
    line-height: 1;
    text-transform: none;
  }
}
