@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--COMPOSER {
  display: block;
  box-sizing: border-box;
  margin: 0;
  border: none;
  padding: 1.25rem 1rem;
  width: 100%;
  height: 100%;
  overflow: auto;

  & > .MASTODON_GO--CONNECTED--ACCOUNT {
    border-style: none solid;
    border-color: $mastodon_go_content_button_color;
    border-width: none 3px;
    color: $mastodon_go_content_button_text;
    background-color: $mastodon_go_content_button_color;
    transition: border-color ($mastodon_go_animation_speed * .15s) ease-in, background-color ($mastodon_go_animation_speed * .15s) ease-in;

    &:focus,
    &:hover {
      border-color: $mastodon_go_content_button_hover;
      background-color: $mastodon_go_content_button_hover;
      transition: border-color ($mastodon_go_animation_speed * .15s) ease-out, background-color ($mastodon_go_animation_speed * .15s) ease-out;
    }
  }

  & > .spoiler {
    border-style: none solid;
    border-color: $mastodon_go_content_button_color;
    border-width: none 3px;
    color: $mastodon_go_content_button_text;
    background-color: $mastodon_go_content_button_color;

    & > .MASTODON_GO--COMMON--INPUT {
      margin: 0;
      border-style: none none solid;
      border-color: transparent $mastodon_go_text_area_border $mastodon_go_content_button_color;
      border-width: 0 3px 2px;
      color: $mastodon_go_text_area_color;
      background: $mastodon_go_text_area_background;

      &:focus { border-color: transparent $mastodon_go_text_area_border $mastodon_go_content_button_color }
    }
  }
}
