@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--STATUS--CONTENT--GALLERY {
  display: block;
  position: relative;
  margin: 0;
  border: none;
  padding: 0;
  width: 100%;
  height: 8.1em;
  color: $mastodon_go_media_color;
  background: $mastodon_go_media_background;
  font-size: 1em;

  & > .MASTODON_GO--CONNECTED--MEDIA {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: 0;
    border: 1px transparent solid;
    padding: 0;
    width: auto;
    height: auto;
  }

  & > *.button {
    position: absolute;
    top: 0;
    left: 0;
    margin: .35em;
    padding: .1625em;
    height: 1em;  // 1 + 2*.35 + 2*.1625 = 1.5*1.35
    color: $mastodon_go_media_color;
    background: $mastodon_go_media_background;
    font-size: 1em;
    line-height: 1;
    opacity: .7;
    z-index: 1;

    &:active,
    &:focus,
    &:hover {
      color: $mastodon_go_media_color;
      background: $mastodon_go_media_background;
      opacity: 1;
    }
  }

  & > *.curtain {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    border: none;
    padding: 0;
    color: $mastodon_go_media_color;
    background: $mastodon_go_media_background;
    font-size: (1.25em / 1.35);  //  approx. .925em
    line-height: 1.35;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;

    & > span {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2.6em;
      margin: auto;
      opacity: .7;

      & > strong {
        display: block;
        font-size: (1.35em / 1.25);
        line-height: 1.25;
      }
    }

    &:active,
    &:focus,
    &:hover {
      color: $mastodon_go_media_color;
      background: $mastodon_go_media_background;

      & > span { opacity: 1 }
    }
  }

  &:not(.size-1) {
    & > .MASTODON_GO--CONNECTED--MEDIA:nth-of-type(odd) { right: 50% }
    & > .MASTODON_GO--CONNECTED--MEDIA:nth-of-type(even) { left: 50% }

    &:not(.size-2) {
      & > .MASTODON_GO--CONNECTED--MEDIA:nth-of-type(2),
      & > .MASTODON_GO--CONNECTED--MEDIA:nth-last-of-type(4) { bottom: 50% }
      & > .MASTODON_GO--CONNECTED--MEDIA:nth-of-type(3),
      & > .MASTODON_GO--CONNECTED--MEDIA:nth-last-of-type(1) { top: 50% }
    }
  }
}
