@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--PARSE--ACCOUNT_BIO {
  display: block;
  margin: 0;
  border: none;
  padding: 0 1em;
  text-align: center;

  & > .MASTODON_GO--PARSE--ACCOUNT_BIO--PARAGRAPH { margin: 1.25em 0 }

  & > table {
    display: table;
    table-layout: fixed;
    margin: 1.25em 0;
    border: none;
    border-collapse: collapse;
    padding: 0;
    width: 100%;
    color: $mastodon_go_table_color;
    background-color: $mastodon_go_table_background;
    text-align: left;

    & > tbody {
      & > tr {
        & > td {
          display: table-cell;
          box-sizing: border-box;
          margin: 0;
          border: 1px $mastodon_go_table_border solid;
          padding: .625em 1em;
          vertical-align: middle;
        }

        & > th {
          display: table-cell;
          margin: 0;
          border-style: solid;
          border-color: $mastodon_go_table_heading_border $mastodon_go_table_heading_border $mastodon_go_table_heading_border $mastodon_go_table_border;
          border-width: 1px;
          padding: .625em 1em;
          width: 40%;
          max-width: 8em;
          color: $mastodon_go_table_heading_color;
          background-color: $mastodon_go_table_heading_background;
          font-weight: inherit;
          font-variant: small-caps;
          vertical-align: middle;
        }
      }
    }
  }
}
