@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--COMMON--MENUBAR {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 3.5rem;
  color: $mastodon_go_menu_color;
  background-color: $mastodon_go_menu_background;
  overflow-x: hidden;
  overflow-y: auto;
  z-index: 100;

  & > .MASTODON_GO--COMMON--BUTTON {
    display: block;
    margin: 0;
    border: none;
    padding: .9375rem .75rem;
    width: 2rem;
    height: 1.25rem;
    color: $mastodon_go_menu_color;
    background-color: $mastodon_go_menu_background;
    font-size: 1.25rem;
    line-height: 1;
    text-align: center;

    &:hover {
      color: $mastodon_go_menu_hover_color;
      background-color: $mastodon_go_menu_hover_background;
    }

    &.active {
      color: $mastodon_go_menu_active_color;
      background-color: $mastodon_go_menu_active_background;
    }
  }

  &.active_route {
    padding-bottom: 2.75rem;

    & > .MASTODON_GO--COMMON--BUTTON:last-of-type {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}
