@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--PARSE--ACCOUNT_BIO--PARAGRAPH {
  display: block;
  margin: 0;
  border: none;
  padding: 0;
  text-align: center;

  & + .MASTODON_GO--PARSE--ACCOUNT_BIO--PARAGRAPH {
    margin-top: 1.35em;
  }
}
