@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--COMPOSER--CONTROLS {
  display: block;
  margin: 0;
  border: none;
  padding: .625em 0;
  text-align: right;

  & > .MASTODON_GO--COMMON--BUTTON.with_text {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    border: none;
    padding: .75em .6em;
    white-space: nowrap;
    font: inherit;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;

    & > .attached {
      display: inline-block;
      float: right;
      //  `margin` is set by `<CommonButton>`
      border: none;
      border-radius: 1em;
      padding: .5em;
      min-width: 1em;
      height: 1em;
      color: $mastodon_go_attachment_count_color;
      background-color: $mastodon_go_attachment_count_background;
      font-size: .625em;  //  Affects the size of `em` above
      line-height: 1;
      text-align: center;
      vertical-align: middle;
    }
  }
}
