@charset "UTF-8";

@import "flavours/go/styles/variables";

/*
Most link styling happens elsewhere but we disable text-decoration
here.
*/
.MASTODON_GO--COMMON--LINK {
  display: inline;
  color: inherit;
  text-decoration: none;
}
