@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--CONNECTED--PREVIEW {
  & > .status {
    display: block;
    margin: 0;
    border: none;
    padding: 0 .75em .625em;
    background-color: $mastodon_go_content_highlight;
    cursor: default;

    & > .MASTODON_GO--CONNECTED--ACCOUNT.small { margin: 0 -.75em }
  }
}
