@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--DRAWER--COMPOSER--INPUT {
  display: block;
  position: relative;
  margin: 0;
  border: 3px $mastodon_go_input_border solid;
  padding: 0 0 2.5em;
  color: $mastodon_go_input_color;
  background: $mastodon_go_input_background;
  min-height: 5em;
}
