@charset "UTF-8";

@import "themes/mastodon-go/variables";

.MASTODON_GO--DRAWER--COMPOSER--CONTROLS {
  display: block;
  margin: 0;
  border: none;
  padding: .625rem .375rem;  //  We *need* to use `rem` because buttons have a smaller font-size

  & > .MASTODON_GO--COMMON--BUTTON {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;  //  But see `:first-child` and `:last-child`, below
    border: none;
    padding: .75em .6em;
    width: 50%;
    white-space: nowrap;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: bottom;

    & > .attached {
      display: inline-block;
      float: right;
      //  `margin` is set by `<CommonButton>`
      border: none;
      border-radius: 1em;
      padding: .5em;
      min-width: 1em;
      height: 1em;
      color: $mastodon_go_attachment_count_color;
      background-color: $mastodon_go_attachment_count_background;
      font-size: .625em;  //  Affects the size of `em` above
      line-height: 1;
      text-align: center;
      vertical-align: middle;
    }

    &:first-child { margin: 0 .375rem 0 -.375rem }
    &:last-child { margin: 0 -.375rem 0 .375rem }
  }
}
